<h2>Eventos</h2>
<hr>
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input type="text" class="form-control mr-2" placeholder="Procurar" [(ngModel)]="filtroLista">
    <br>
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th><button type="button" class="btn btn-outline-light" (click)="alterarImagem()">
          {{exibirImagem ? 'Exibir' : 'Ocultar'}} </button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd pessoas</th>
      <th>Lote</th>
      <th>Options</th>
    </tr>
  <tbody *ngIf="eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td><img [collapse]="exibirImagem" [isAnimated]="true" src="/assets/{{evento.imagemURL}}" [style.width.px]="250"
          [style.margin.px]=2></td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
          <button class="btn btn-warning btn-sm mr-2">Editar</button>
          <button class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length || !eventosFiltrados.length">
    <tr class="text-center">
      <td style="font-size: 30px" colspan="8">Nenhum evento encontrado</td>
    </tr>
  </tfoot>
</table>
